<div class="col-lg-4">
    <aside id="secondary" class="bi-single-sidebar">
        <div id="search-3" class="bi-sidebar-widget widget_search headline ul-li-block">
            <h3 class="widget-title">Search</h3>
            <div class="search-widget">
                <div class="widget-area">
                    <!-- <form role="search" method="get" id="searchform"
                        class="search-input position-relative"
                        action="https://themexriver.com/wp/haptic-wp/">
                        <input class="form_control" placeholder="Search..." type="text" value=""
                            name="s" id="s">
                        <button type="submit"><span class="icon fa fa-search"></span></button>
                    </form> -->
                </div>
            </div>
        </div>
        <div id="categories-3" class="bi-sidebar-widget widget_categories headline ul-li-block">
            <h3 class="widget-title">Blogs</h3>
            <ul>
                <li class="cat-item cat-item-23"><a
                        href="https://voidpanel.com/voidpanel-info">VoidPanel Overview</a>
                </li>
                <li class="cat-item cat-item-19"><a
                        href="https://voidpanel.com/alternative-of-cpanel">Cpanel Alternative</a>
                </li>
                <li class="cat-item cat-item-24"><a
                        href="https://voidpanel.com/cloud-computing">Cloud Computing</a>
                </li>
                <li class="cat-item cat-item-20"><a
                        href="https://voidpanel.com/blog1">Industrializing Machine Learning</a>
                </li>
              
            </ul>

        </div>
      
   
        <div id="media_image-3" class="bi-sidebar-widget widget_media_image headline ul-li-block"><a
                href="https://voidpanel.com" title="web hosting control panel"><img  width="586" height="561"
                    src="/static/assets/img/blog/voidpanel-overview.png"
                    class="image wp-image-2532  attachment-full size-full" alt=""
                    style="max-width: 100%; height: auto; border-radius:20%" decoding="async"
                 ></a></div>
    </aside><!-- #secondary -->
</div>