
<div class="col-lg-4">
    <div class="bi-single-sidebar">
       
        <div class="bi-sidebar-widget headline ul-li-block">
            <div class="service-widget">
                <h3 class="widget-title">Documentations</h3>
                <div class="widget-area" style="overflow-y: auto; height: 510px;"> <!-- Set desired height -->
                    <ul>
                        <li ><a href="/docs">Installation</a></li>
                        <li ><a href="/overview">Overview</a></li>
                        <li ><a href="/chpass">Change Password</a></li>
                        <li ><a href="/addweb">Add Website</a></li>
                        <li ><a href="/addssl">Add SSL</a></li>
                        <li ><a href="/db">Database</a></li>
                        <li ><a href="/addemail">Add Emails</a></li>
                       
                   
                  
                    </ul>
                </div>
            </div>
        </div>
        
        
        
        
    </div>
</div>
