<!doctype html>
<html lang="en">

<head>
    <title>:: VoidPanel :: BackUp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VoidPanel Backup ">
    <meta name="author" content="Voidpanel, design by: Voidpanel.com">
    <link rel="icon" href="/static/icons/fav.png" type="image/x-icon">

    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/charts-c3/plugin.css" />

    <!-- MAIN Project CSS file -->
    <link rel="stylesheet" href="/static/assets/css/main.css">

    <link rel="stylesheet" href="/static/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <style>
        /* Basic styling for the p tag */
        p.processing {
            font-size: 18px;
            font-weight: bold;

        }

        /* Animation for the dots */
        .dots::after {
            content: '';
            display: inline-block;
            width: 1em;
            text-align: left;
            animation: dots 1.5s steps(4, end) infinite;
        }

        /* Keyframes for the dots animation */
        @keyframes dots {

            0%,
            100% {
                content: '';
            }

            25% {
                content: '.';
            }

            50% {
                content: '..';
            }

            75% {
                content: '...';
            }
        }
    </style>
    <style>
        .myname {
            border-radius: 30px;
            box-shadow: inset;
            border-width: 4px;


        }

        .text-container {

            border: 1px solid #ccc;

            word-wrap: break-word;
            /* Force text to wrap */
            white-space: normal;
            /* Ensure normal wrapping */
            overflow-wrap: break-word;
            /* Ensure long words break */
        }
    </style>

</head>

<body data-theme="light" class="font-nunito">

    <div id="wrapper" class="theme-cyan">

        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="/static/icons/fav.png" width="48" height="48" alt="VoidPanel">

                </div>
                <p>Please wait...</p>
            </div>
        </div>



        {% include 'control/navbar.html' %}

        <!-- main left menu -->
        {% include 'control/left.html' %}
        <!-- rightbar icon div -->
        {% include 'control/right.html' %}


        <!-- mani page content body part -->

        <div id="main-content">

            <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-10 col-md-6 col-sm-12">
                            <h2>Create Backup</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i></a>
                                </li>
                                <li class="breadcrumb-item">Dashboard</li>
                                <li class="breadcrumb-item">Create Backup</li>

                            </ul>
                        </div>







                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-12">

                        <div class="">
                            <div class="header">
                                <h2 style="display: inline-block;">Backup Wizard</h2>

                                <img src="/static/icons/re.png" style="height: 80px; width: 80px; border-radius: 5%;">


                            </div>


                        </div>
                    </div>
                </div>

                <div class="row clearfix " style="margin-top: 30px;">

                   



                </div>


                <div class="row clearfix" style="margin-top: 30px;">
                    <div class="col-lg-4 col-md-12">
                        <div style="margin-left: 20px;" class="p-2 m-2">
                            <form method="post" action="">{% csrf_token %}

                         
                                <button onclick="backup(event,'{{domain}}');"
                                    class="btn btn-primary p-2 m-2">Backup Data Now</button>
                                       </form>
                        </div>
                        <div class="modal animated fadeIn show" id="pro1" style="display: none; margin-top: 300px;">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p class="processing">Processing<span class="dots"></span></p>
                
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-12">
                        <div class="">
                            <div class="header">
                                <h4>Backup Info</h4>
                            </div>
                            <div class="body table-responsive social_media_table"
                                style="max-height: 300px; overflow-y: auto;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>

                                            <th>Domain</th>
                                            <th>Date</th>
                                            <th> Time</th>
                                            <th>Download</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                      

                                        {% for i,j in folder.items %}
                                        <tr>


                                            <td>{{ j.0 }}</td>

                                            <td>{{ j.1 }}</td>
                                    
                                            <td>{{ j.2 }}</td>

                                            <td>

                                               <a href="/download_zip_backup/{{ j.3 }}/{{dire}}"> <button 
                                                    class="btn btn-success"> Download  Your Backup
                                                        </button></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>











            </div>

        </div>
        <div class="modal animated fadeIn show" id="eeee" style="display: none; margin-top: 300px;">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="title" id="defaultModalLabel">Status</h6>
                    </div>

                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12">
                            <div id="statusemail" style="text-align: center;" class="row clearfix">



                            </div>
                        </div>
                        <div class="modal-footer">
                            <button  onclick="closeelol();"
                                class="btn btn-danger">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

<script>
    function closeelol(){
        document.getElementById('eeee').style.display='none';
    }
</script>

        <script>

       async function backup(event,domain) {
                event.preventDefault();  // Prevent the default form submission behavior
             
              
                document.getElementById('pro1').style.display = "block";
                
                // Get the form data
          
                const data = {
                    domain:domain,
                  

                };
               
      


                try {
                    // Make the fetch request to change the password
                    const response = await fetch('/control/backupdata/', {  // Replace with your actual API endpoint
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value  // CSRF token for Django
                        }
                    });
                    const result = await response.json();
            
                    // Handle the server response
                    if (response.ok && result.status === 'success') {
                        document.getElementById('pro1').style.display = "none";
                        location.reload(true);
                    }
                    else if (response.ok && result.status === 'exceed') {
                        document.getElementById('pro1').style.display = "none";
                      
                        document.getElementById('eeee').style.display = "block";
                        document.getElementById('statusemail').innerHTML = "Limit Exceeded";
                        location.reload(true);
                    }

                 
                } catch (error) {

                    document.getElementById('pro1').style.display = "none";
                    location.reload(true);
                }
            }

        </script>
    













        <!-- Javascript -->
        <script src="/static/assets/bundles/libscripts.bundle.js"></script>
        <script src="/static/assets/bundles/vendorscripts.bundle.js"></script>

        <!-- page vendor js file -->
        <script src="/static/assets/vendor/toastr/toastr.js"></script>
        <script src="/static/assets/bundles/c3.bundle.js"></script>


        <script src="/static/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
        <script src="/static/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->


        <!-- page js file -->
        <script src="/static/assets/bundles/mainscripts.bundle.js"></script>
        <script src="/static/assets/bundles/chartjs.js"></script>
        <script src="/static/assets/index2.js"></script>


</body>

</html>