<!doctype html>
<html lang="en">

<head>
    <title>:: VoidPanel :: Cron</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VoidPanel  Cron ">
    <meta name="author" content="Voidpanel, design by: Voidpanel.com">
    <link rel="icon" href="/static/icons/fav.png" type="image/x-icon">

    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/charts-c3/plugin.css" />

    <!-- MAIN Project CSS file -->
    <link rel="stylesheet" href="/static/assets/css/main.css">

    <link rel="stylesheet" href="/static/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <style>
        .myname {
            border-radius: 30px;
            box-shadow: inset;
            border-width: 4px;


        }

        .text-container {

            border: 1px solid #ccc;

            word-wrap: break-word;
            /* Force text to wrap */
            white-space: normal;
            /* Ensure normal wrapping */
            overflow-wrap: break-word;
            /* Ensure long words break */
        }
    </style>

</head>

<body data-theme="light" class="font-nunito">

    <div id="wrapper" class="theme-cyan">

        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="/static/icons/fav.png" width="48" height="48" alt="VoidPanel">

                </div>
                <p>Please wait...</p>
            </div>
        </div>



        {% include 'control/navbar.html' %}

        <!-- main left menu -->
        {% include 'control/left.html' %}
        <!-- rightbar icon div -->
        {% include 'control/right.html' %}


        <!-- mani page content body part -->

        <div id="main-content">

            <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-10 col-md-6 col-sm-12">
                            <h2>Edit/Add Crons</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i></a>
                                </li>
                                <li class="breadcrumb-item">Dashboard</li>
                                <li class="breadcrumb-item">Edit/Add Cron Jobs</li>

                            </ul>
                        </div>







                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-12">

                        <div class="">
                            <div class="header">
                                <h2>CronJob Wizard</h2>


                            </div>


                        </div>
                    </div>
                </div>
                <form method="post" action="">{% csrf_token %}
                    <div class="row clearfix " style="margin-top: 30px;">


                        <div class="col-lg-1 col-md-6 col-sm-12">
                            <img src="/static/icons/cron.svg" style="height: 50px; width: 80px;">

                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="cronin" name="time" class="form-control"
                                    onkeypress="restrictInput(event)" placeholder="* * * * *" required>

                            </div>


                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="cronin" name="path" class="form-control" placeholder="path"
                                    required>
                            </div>


                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"> Create a CronJob</button>
                            </div>
                        </div>
                 
                </form>


            </div>


        </div>



        <div class="row clearfix" style="margin-top: 30px;">
            <div class="col-lg-6 col-md-12">
                <div class="">
                    <div class="header">
                        <h4>Cron Tab Info</h4>
                    </div>
                    <div class="body table-responsive">
                        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                            <table class="table  mb-0">
                                <thead>
                                    <tr>
                                        <th>Function</th>
                                        <th>Duration</th>
                                        <th>Refference</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            <h5><span style="color: red;">*</span> * * * *</h5>
                                            <small>Syntax </small>
                                        </td>
                                        <td>
                                            <h5>Minute (0-59)</h5>
                                            <small>Minutes In Number </small>
                                        </td>
                                        <td>
                                            <h5><span style="color: red;">30</span> * * * * /path/</h5>
                                            <small>This Will Excute after every <span style="color: red;">30
                                                    Minutes</span> </small>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h5>* <span style="color: red;">*</span> * * *</h5>
                                            <small>Syntax </small>
                                        </td>
                                        <td>
                                            <h5>Hour (0-23)</h5>
                                            <small>Hours In Number </small>
                                        </td>
                                        <td>
                                            <h5>* <span style="color: red;">2</span> * * * /path/</h5>
                                            <small>This Will Excute after every <span style="color: red;">2 Hours</span>
                                            </small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>* * <span style="color: red;">*</span> * *</h5>
                                            <small>Syntax </small>
                                        </td>
                                        <td>
                                            <h5>Day Of Month (1-31)</h5>
                                            <small>Days In Number </small>
                                        </td>
                                        <td>
                                            <h5>* * <span style="color: red;">30</span> * * /path/</h5>
                                            <small>This Will Excute after every <span style="color: red;">30 Days</span>
                                            </small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>* * * <span style="color: red;">*</span> *</h5>
                                            <small>Syntax </small>
                                        </td>
                                        <td>
                                            <h5>Month (1-12)</h5>
                                            <small>Month In Number </small>
                                        </td>
                                        <td>
                                            <h5>* * * <span style="color: red;">3</span> * /path/</h5>
                                            <small>This Will Excute after every <span style="color: red;">3 Month</span>
                                            </small>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h5>* * * * <span style="color: red;">*</span> </h5>
                                            <small>Syntax </small>
                                        </td>
                                        <td>
                                            <h5>Day of Week (0-7)</h5>
                                            <small>Week In Number </small>
                                        </td>
                                        <td>
                                            <h5>* * * * <span style="color: red;">3</span> /path/</h5>
                                            <small>This Will Excute after every <span style="color: red;">3 Week</span>
                                            </small>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="">
                    <div class="header">
                        <h4>Added Crontab</h4>
                    </div>
                    <div class="body table-responsive social_media_table" style="max-height: 300px; overflow-y: auto;">
                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th>Domain</th>
                                    <th>Duration</th>
                                    <th>Path</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>



                                {% for i in crondata %}
                                <tr>
                                    <td>{{i.domain}}
                                    </td>

                                    <td>{{i.duratioin}}</td>


                                    <td>

                                       {{i.path}}
                                    </td>
                                    <td>

                                        <a href="/control/deletecron/{{i.id}}/"> <button class="btn btn-danger">Delete
                                                <i class="fa fa-trash"></i></button></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>











    </div>

    </div>






    <script>
        function restrictInput(event) {
            const allowedChars = /^[0-9* ]$/; // Allow digits, * and space
            const inputChar = String.fromCharCode(event.which);
            if (!allowedChars.test(inputChar)) {
                event.preventDefault(); // Prevent the input if it's not allowed
            }
        }
    </script>


    <!-- Javascript -->
    <script src="/static/assets/bundles/libscripts.bundle.js"></script>
    <script src="/static/assets/bundles/vendorscripts.bundle.js"></script>

    <!-- page vendor js file -->
    <script src="/static/assets/vendor/toastr/toastr.js"></script>
    <script src="/static/assets/bundles/c3.bundle.js"></script>


    <script src="/static/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="/static/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->


    <!-- page js file -->
    <script src="/static/assets/bundles/mainscripts.bundle.js"></script>
    <script src="/static/assets/bundles/chartjs.js"></script>
    <script src="/static/assets/index2.js"></script>


</body>

</html>