<div id="left-sidebar" class="sidebar">
    <button type="button" class="btn-toggle-offcanvas"><i class="fa fa-arrow-left"></i></button>
    <div class="sidebar-scroll">
        <div class="user-account">
            <a href="/control"><img src="/static/icons/fav.png" class="rounded-circle user-photo" style="border-radius: 20% !important;"
                alt="User Profile Picture"></a>
            <div class="dropdown">
                <span>Welcome to,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>Void
                        Panel</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account">
                 
                    <li><a href="/logout"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>
            <hr>

        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu">General Info</a></li>
          
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#setting"><i class="icon-settings"></i></a>
            </li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#question"><i
                        class="icon-question"></i></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content padding-0">
            <div class="tab-pane active" id="menu">

                <strong>
                    <h6 style="margin-top: 30px;">Basic Information </h6>
                </strong>
                <h6 style="margin-top: 20px;">Current User </h6>
                <span class="input-group-text">{{request.user}}</span>

                <h6 style="margin-top: 20px;">Primary Domain </h6>
                {% if primarydomainstatus %}
                <a href="http://{{domain}}">
                    <img src="/static/icons/lock.png">
                </a>
                {% else %}
                <a href="http://{{domain}}">
                    <img src="/static/icons/unlock.png" height="30px" width="30px">
                </a>
                {% endif %}
                <strong> {{primarydomain}}</strong>

                <h6 style="margin-top: 20px;"> Shared IP Address </h6>

                <strong>{{ipaddress}} </strong>

                <h6 style="margin-top: 20px;"> Home Directory </h6>

                <strong>/home/{{request.user}} </strong>

                <hr>
                <strong>
                    <h6 style="margin-top: 30px;">Statistics </h6>
                </strong>

                <h6 style="margin-top: 20px;">Disk Usage </h6>
                
                {% if storagestatus %}
                <strong>/home/{{request.user}} (Disk Used:{{remainingstorage}} MB) </strong>
               
                <div id="progress" style="display: block; margin-top: 10px; margin-bottom: 5px;">
                    <div class="progress">
                        <div id="pbar" class="progress-bar progress-bar-success progress-bar-striped active"
                            role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                            style="width: 0%">

                        </div>

                    </div>
                </div>
                <strong>Unlimited  ∞</strong>
                {% else %}
                <strong>/home/{{request.user}} </strong>
                <strong>{{remainingstorage}} MB / {{avaiablestorage}} MB </strong>
               

                <div id="progress" style="display: block;">
                    <div class="progress">
                        <div id="pbar" class="progress-bar progress-bar-success progress-bar-striped active"
                            role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{percentagestorage}}%">

                        </div>

                    </div>
                </div>

                {% endif %}
                <h6 style="margin-top: 20px;">Email Usage </h6>
                <strong>{{usedemail}}  / {{totalemail}} </strong>

                <h6 style="margin-top: 20px;">Subdomain Usage </h6>
                <strong>{{usedsubdomain}}  / {{totalsubdomain}} </strong>

                <h6 style="margin-top: 20px;">FTP Usage </h6>
                <strong>{{usedftp}}  / {{totalftp}} </strong>


                <h6 style="margin-top: 20px;">Database Usage </h6>
                <strong>{{useddatabase}}  / {{totaldb}} </strong>






            </div>
           
            <div class="tab-pane" id="setting">
                <h6>Choose Skin</h6>
                <ul class="choose-skin list-unstyled">
                    <li data-theme="purple">
                        <div class="purple"></div>
                    </li>
                    <li data-theme="blue">
                        <div class="blue"></div>
                    </li>
                    <li data-theme="cyan" class="active">
                        <div class="cyan"></div>
                    </li>
                    <li data-theme="green">
                        <div class="green"></div>
                    </li>
                    <li data-theme="orange">
                        <div class="orange"></div>
                    </li>
                    <li data-theme="blush">
                        <div class="blush"></div>
                    </li>
                    <li data-theme="red">
                        <div class="red"></div>
                    </li>
                </ul>

                <ul class="list-unstyled font_setting mt-3">
                    <li>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="font" value="font-nunito" checked="">
                            <span class="custom-control-label">Nunito Google Font</span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="font" value="font-ubuntu">
                            <span class="custom-control-label">Ubuntu Font</span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="font" value="font-raleway">
                            <span class="custom-control-label">Raleway Google Font</span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="font" value="font-IBMplex">
                            <span class="custom-control-label">IBM Plex Google Font</span>
                        </label>
                    </li>
                </ul>

                <ul class="list-unstyled mt-3">
                    <li class="d-flex align-items-center mb-2">
                        <label class="toggle-switch theme-switch">
                            <input type="checkbox">
                            <span class="toggle-switch-slider"></span>
                        </label>
                        <span class="ml-3">Enable Dark Mode!</span>
                    </li>
                    <li class="d-flex align-items-center mb-2">
                        <label class="toggle-switch theme-rtl">
                            <input type="checkbox">
                            <span class="toggle-switch-slider"></span>
                        </label>
                        <span class="ml-3">Enable RTL Mode!</span>
                    </li>
                    <li class="d-flex align-items-center mb-2">
                        <label class="toggle-switch theme-high-contrast">
                            <input type="checkbox">
                            <span class="toggle-switch-slider"></span>
                        </label>
                        <span class="ml-3">Enable High Contrast Mode!</span>
                    </li>
                </ul>

                <hr>
               
                   

               
            </div>
            <div class="tab-pane" id="question">
                <form>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search..." id="searchBox">
                    </div>
                </form>
                
                <ul class="list-unstyled question">
                    <br>
                    <li class="menu-heading">Documentation</li>
                    {% for i in docs %}
                    <li class="doc-item"><a target="_blank" href="{{i.link}}">{{i.text}}</a></li>
                    {% endfor %}
                    <a target="_blank" href="https://voidpanel.com/docs" class="btn btn-primary btn-block">Documentation</a>
                </ul>
                
                <script>
                    // Get the input element and the list items
                    const searchBox = document.getElementById('searchBox');
                    const docItems = document.querySelectorAll('.doc-item');
                
                    // Add an input event listener to the search box
                    searchBox.addEventListener('input', function() {
                        const searchText = searchBox.value.toLowerCase();
                
                        // Filter the list items based on the search text
                        docItems.forEach(function(item) {
                            const itemText = item.textContent.toLowerCase();
                
                            // Show or hide the item based on whether it matches the search text
                            if (itemText.includes(searchText)) {
                                item.style.display = 'block'; // Show the item
                            } else {
                                item.style.display = 'none';  // Hide the item
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>