<!doctype html>
<html lang="en">

<head>
<title>:: VoidPanel :: Cannot Edit</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="VoidPanel Dashboard ">
<meta name="author" content="Voidpanel, design by: Voidpanel.com">

<link rel="icon" href="/static/icons/fav.png" type="image/x-icon">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/static/assets/css/main.css">

</head>

<body data-theme="light" class="font-nunito">
	<!-- WRAPPER -->
	<div id="wrapper" class="theme-cyan">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle auth-main">
				<div class="auth-box">
                  
					<div class="card">
                        <div class="header">
                            <h3>
                                <span class="clearfix title">
                                    <span class="number">Error <i class="fa fa-smile-o"></i> </span> <br>
                                    <span>Cannot  Edit file</span>
                                </span>
                            </h3>
                        </div>
                        <div class="body">
                            <p>This site is getting up in few minutes.</p>
                            <p><a href="/" class="btn btn-primary"><i class="fa fa-home"></i> <span>Home</span></a></p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>
</html>

