<!doctype html>
<html lang="en">

<head>
    <title>:: VoidPanel :: Email Marketing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VoidPanel Email Marketing ">
    <meta name="author" content="Voidpanel, design by: Voidpanel.com">
    <link rel="icon" href="/static/icons/fav.png" type="image/x-icon">

    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/charts-c3/plugin.css" />

    <!-- MAIN Project CSS file -->
    <link rel="stylesheet" href="/static/assets/css/main.css">

    <link rel="stylesheet" href="/static/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
   

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        #command {
            width: calc(100% - 100px); /* Full width minus button space */
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #333; /* Dark input field */
            color: #ffffff;
            font-size: 16px;
        }

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff; /* Bootstrap primary color */
            color: #ffffff;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3; /* Darker on hover */
        }

        #output {
            background-color: #000; /* Black output area */
            padding: 10px;
            color: #ffffff;
            border-radius: 5px;
            margin-top: 20px;
            white-space: pre-wrap; /* Preserve whitespace and line breaks */
            overflow: auto; /* Allow scrolling for long outputs */
            height: 300px; /* Fixed height */
        }

        #commandForm {
            display: flex; /* Flexbox layout */
            justify-content: space-between; /* Space between input and button */
        }
    </style>
    <style>
        /* Basic styling for the p tag */
        p.processing {
            font-size: 18px;
            font-weight: bold;

        }

        /* Animation for the dots */
        .dots::after {
            content: '';
            display: inline-block;
            width: 1em;
            text-align: left;
            animation: dots 1.5s steps(4, end) infinite;
        }

        /* Keyframes for the dots animation */
        @keyframes dots {

            0%,
            100% {
                content: '';
            }

            25% {
                content: '.';
            }

            50% {
                content: '..';
            }

            75% {
                content: '...';
            }
        }
    </style>
    <style>
        .myname {
            border-radius: 30px;
            box-shadow: inset;
            border-width: 4px;


        }

        .text-container {

            border: 1px solid #ccc;

            word-wrap: break-word;
            /* Force text to wrap */
            white-space: normal;
            /* Ensure normal wrapping */
            overflow-wrap: break-word;
            /* Ensure long words break */
        }
    </style>

</head>

<body data-theme="light" class="font-nunito">

    <div id="wrapper" class="theme-cyan">

        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="/static/icons/fav.png" width="48" height="48" alt="VoidPanel">
                </div>
                <p>Please wait...</p>
            </div>
        </div>



        {% include 'navbar.html' %}

        <!-- main left menu -->
        {% include 'left.html' %}
        <!-- rightbar icon div -->
        {% include 'right.html' %}


        <!-- mani page content body part -->

        <div id="main-content">

            <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-10 col-md-6 col-sm-12">
                            <h2>Python</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a>
                                </li>
                                <li class="breadcrumb-item">Dashboard</li>
                                <li class="breadcrumb-item">Create Python App</li>

                            </ul>
                        </div>

<form method="post" action="">{% csrf_token %}

</form>





                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="">
                            <div class="header">
                                <h2 style="display: inline-block;"> Email Marketing</h2>

                                <img src="/static/icons/em.png"
                                    style="height: 80px; width: 80px; border-radius: 5%;">


                            </div>


                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12">


                        <a href="/createemailmarketing/{{domain}}"> <button class="btn btn-success">Crete List </button></a>


                    </div>

                </div>

                <div class="row clearfix " style="margin-top: 30px;">





                </div>



                {% for i in python %}

                <div class="row clearfix" id="domainContainer" style="margin-top: 20px;">
                    <div class="col-lg-9 col-md-9 col-sm-12">

                        <div class="row clearfix">

                            <div class="col-lg-4 col-md-6 col-sm-12">

                                <h5 class="p-3" style="margin-bottom: 36px;"><strong>{{i.domain}}</strong> ({{i.name}})
                                </h5>


                            </div>


                            <div class="col-lg-8 col-md-6 col-sm-12">
                                <div class="row clearfix">
                                    <div  onclick="stop(event,'{{i.domain}}','{{i.name}}')" class="col-lg-3 col-md-6 col-sm-12">
                                        <img src="/static/icons/shutdown.png" width="30">
                                        <h5 style="margin-top: 5px;">Stop</h5>
                                    </div>
                                    <div onclick="restart(event,'{{i.domain}}','{{i.name}}')"  class="col-lg-3 col-md-6 col-sm-12">
                                        <img src="/static/icons/refresh.png" width="30">
                                        <h5 style="margin-top: 5px;">Refresh</h5>
                                    </div>


                                    <div onclick="start(event,'{{i.domain}}','{{i.name}}')"  class="col-lg-3 col-md-6 col-sm-12">
                                        <img src="/static/icons/power.png" width="30">
                                        <h5 style="margin-top: 5px;">Start</h5>
                                        
                                    </div>

                                    <div  class="col-lg-3 col-md-2 col-sm-12">
                                        <a onclick="deletepython(event,'{{i.domain}}','{{i.name}}')" class="btn btn-danger"> Delete Project</a>
                                    </div>

                                </div>





                                </a>


                            </div>





                        </div>



                    </div>


                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div style="margin-left: 30px;">
                            <button type="button" class="btn btn-secondary m-2"
                                onclick="showcommand('{{i.domain}}','{{i.name}}','{{i.main}}');">Install Module/Packages</button>
                        </div>
                    </div>


                </div>

                {% endfor %}
















            </div>

        </div>
        <div class="modal animated fadeIn show" id="pro2" style="display: none; margin-top: 300px;">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="processing">Processing<span class="dots"></span></p>
    
                    </div>
    
                </div>
            </div>
        </div>
        <div class="modal animated fadeIn show" id="eeee" style="display: none; margin-top: 300px;">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="title" id="defaultModalLabel">Status</h6>
                    </div>
    
                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12">
                            <div id="statusemail" style="text-align: center;" class="row clearfix">
    
    
    
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button  onclick="closeelol();"
                                class="btn btn-danger">Close</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>


        <div class="modal animated fadeIn show" id="commanddd" style="display: none; margin-top: 100px;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="title" id="defaultModalLabel">Run command (Directly to the Environment)</h6>
                    </div>
    
                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div id="if" class="col-lg-12 col-md-12 col-sm-12">
        
                                            <form id="commandForm">
                                                <input type="text" id="detaildomain" hidden required>
                                                <input type="text" id="detailname" hidden required>
                                                <input type="text" id="detaildir" hidden required>
                                                <input type="text" id="command" placeholder="Enter command" required>
                                                <button type="submit">Execute</button>
                                            </form>
                                            <pre id="output"></pre>
                                </div>
                            </div>
                        </div>
                       
                        <div class="modal-footer">
                            <button  onclick="closeelollol();"
                                class="btn btn-danger">Close</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>





    
    <script>
    function closeelol(){
        document.getElementById('eeee').style.display='none';
        
       
    }
    function closeelollol(){
        document.getElementById('commanddd').style.display='none';}

        function showcommand(domain,name,dir){
            document.getElementById('detaildomain').value=domain;
            document.getElementById('detailname').value=name;
            document.getElementById('detaildir').value=dir;
            document.getElementById('commanddd').style.display='block';}
    </script>

<script>
    $(document).ready(function() {
        // Handle the form submission
        $('#commandForm').on('submit', function(e) {
            e.preventDefault(); // Prevent default form submission

            // Show loading message in the output area
            $('#output').text('Running......\n');

            // Get form input values
            const command = $('#command').val();
            const domain = $('#detaildomain').val();
            const name = $('#detailname').val();
            const dir = $('#detaildir').val();

            // Send AJAX POST request
            $.ajax({
                type: 'POST',
                url: '{% url "terminalnamename" %}', // Django URL for the terminal endpoint
                data: {
                    'command': command,
                    'domain': domain,
                    'name': name,
                    'dir': dir,
                    'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF token for Django
                },
                success: function(data) {
                    // Handle success response
                    if (data.error) {
                        // Display error message if present
                        $('#output').text('Error:\n' + data.output);
                    } else {
                        // Display output if command executes successfully
                        $('#output').text('Output:\n' + data.output);
                    }
                    // Clear input field after execution
                    $('#command').val('');
                    // Scroll to the bottom of the output area
                    $('#output').scrollTop($('#output')[0].scrollHeight);
                },
                error: function() {
                    // Handle AJAX errors
                    $('#output').text('An error occurred.');
                }
            });
        });
    });
</script>

       <script>
          async function start(event,domain,name) {
            // Prevent the default action (e.g., form submission)
            if (event) {
                event.preventDefault();
            }
            document.getElementById('pro2').style.display='block';

            var data = {
                'domain': domain, 
                'name': name, 
            };
           

            try {
                // Fetch request to submit form data
                const response = await fetch("{% url 'start_now_python' %}", {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json',  // Ensure content is JSON
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value  // CSRF token for Django
                    }
                });

                // Parse the JSON response
                const result = await response.json();

                // Handle response based on the result
                if (response.ok && result.status === 'success') {
                    document.getElementById('pro2').style.display='none';

                    document.getElementById('eeee').style.display = "block";
                    document.getElementById('statusemail').innerHTML =' started successfully.';
                    location.reload(true);

                } 
                
                else {
                    document.getElementById('pro2').style.display='none';
              
                    document.getElementById('eeee').style.display = "block";
                    document.getElementById('statusemail').innerHTML = 'Failed to start service ';
                    location.reload(true);

                }
            } catch (error) {
                // Catch any errors from the fetch call itself (e.g., network errors)
                document.getElementById('pro2').style.display='none';
   
                document.getElementById('eeee').style.display = "block";
                document.getElementById('statusemail').innerHTML = 'An error occurred while trying to start service ';

            }
        }
    </script>
       <script>
        async function stop(event,domain,name) {
          // Prevent the default action (e.g., form submission)
          if (event) {
              event.preventDefault();
          }
          document.getElementById('pro2').style.display='block';

          var data = {
              'domain': domain, 
              'name': name, 
          };
         

          try {
              // Fetch request to submit form data
              const response = await fetch("{% url 'stop_now_python' %}", {
                  method: 'POST',
                  body: JSON.stringify(data),
                  headers: {
                      'Content-Type': 'application/json',  // Ensure content is JSON
                      'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value  // CSRF token for Django
                  }
              });

              // Parse the JSON response
              const result = await response.json();

              // Handle response based on the result
              if (response.ok && result.status === 'success') {
                  document.getElementById('pro2').style.display='none';

                  document.getElementById('eeee').style.display = "block";
                  document.getElementById('statusemail').innerHTML =' Stopeed successfully.';
                  location.reload(true);

              } 
              
              else {
                  document.getElementById('pro2').style.display='none';
            
                  document.getElementById('eeee').style.display = "block";
                  document.getElementById('statusemail').innerHTML = 'Failed to Stop service ';
                  location.reload(true);

              }
          } catch (error) {
              // Catch any errors from the fetch call itself (e.g., network errors)
              document.getElementById('pro2').style.display='none';
 
              document.getElementById('eeee').style.display = "block";
              document.getElementById('statusemail').innerHTML = 'An error occurred while trying to Stop service ';

          }
      }
  </script>
   <script>
    async function deletepython(event,domain,name) {
      // Prevent the default action (e.g., form submission)
      if (event) {
          event.preventDefault();
      }
      document.getElementById('pro2').style.display='block';

      var data = {
          'domain': domain, 
          'name': name, 
      };
     

      try {
          // Fetch request to submit form data
          const response = await fetch("{% url 'delete_python' %}", {
              method: 'POST',
              body: JSON.stringify(data),
              headers: {
                  'Content-Type': 'application/json',  // Ensure content is JSON
                  'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value  // CSRF token for Django
              }
          });

          // Parse the JSON response
          const result = await response.json();

          // Handle response based on the result
          if (response.ok && result.status === 'success') {
              document.getElementById('pro2').style.display='none';

              document.getElementById('eeee').style.display = "block";
              document.getElementById('statusemail').innerHTML =' Deleted successfully.';
              location.reload(true);

          } 
          
          else {
              document.getElementById('pro2').style.display='none';
        
              document.getElementById('eeee').style.display = "block";
              document.getElementById('statusemail').innerHTML = 'Failed to Delete  ';
              location.reload(true);

          }
      } catch (error) {
          // Catch any errors from the fetch call itself (e.g., network errors)
          document.getElementById('pro2').style.display='none';

          document.getElementById('eeee').style.display = "block";
          document.getElementById('statusemail').innerHTML = 'An error occurred while trying to restart service ';

      }
  }
</script>
   
       
      <script>
        async function restart(event,domain,name) {
          // Prevent the default action (e.g., form submission)
          if (event) {
              event.preventDefault();
          }
          document.getElementById('pro2').style.display='block';

          var data = {
              'domain': domain, 
              'name': name, 
          };
         

          try {
              // Fetch request to submit form data
              const response = await fetch("{% url 'restart_now_python' %}", {
                  method: 'POST',
                  body: JSON.stringify(data),
                  headers: {
                      'Content-Type': 'application/json',  // Ensure content is JSON
                      'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value  // CSRF token for Django
                  }
              });

              // Parse the JSON response
              const result = await response.json();

              // Handle response based on the result
              if (response.ok && result.status === 'success') {
                  document.getElementById('pro2').style.display='none';

                  document.getElementById('eeee').style.display = "block";
                  document.getElementById('statusemail').innerHTML =' restarted successfully.';
                  location.reload(true);

              } 
              
              else {
                  document.getElementById('pro2').style.display='none';
            
                  document.getElementById('eeee').style.display = "block";
                  document.getElementById('statusemail').innerHTML = 'Failed to restart service ';
                  location.reload(true);

              }
          } catch (error) {
              // Catch any errors from the fetch call itself (e.g., network errors)
              document.getElementById('pro2').style.display='none';
 
              document.getElementById('eeee').style.display = "block";
              document.getElementById('statusemail').innerHTML = 'An error occurred while trying to restart service ';

          }
      }
  </script>
       













        <!-- Javascript -->
        <script src="/static/assets/bundles/libscripts.bundle.js"></script>
        <script src="/static/assets/bundles/vendorscripts.bundle.js"></script>

        <!-- page vendor js file -->
        <script src="/static/assets/vendor/toastr/toastr.js"></script>
        <script src="/static/assets/bundles/c3.bundle.js"></script>


        <script src="/static/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
        <script src="/static/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->


        <!-- page js file -->
        <script src="/static/assets/bundles/mainscripts.bundle.js"></script>
        <script src="/static/assets/bundles/chartjs.js"></script>
        <script src="/static/assets/index2.js"></script>


</body>

</html>