<!doctype html>
<html lang="en">

<head>
    <title>:: VoidPanel :: FTP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VoidPanel FTP ">
    <meta name="author" content="Voidpanel, design by: Voidpanel.com">
    <link rel="icon" href="/static/icons/fav.png" type="image/x-icon">

    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/charts-c3/plugin.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        /* Basic styling for the p tag */
        p.processing {
            font-size: 18px;
            font-weight: bold;

        }

        /* Animation for the dots */
        .dots::after {
            content: '';
            display: inline-block;
            width: 1em;
            text-align: left;
            animation: dots 1.5s steps(4, end) infinite;
        }

        /* Keyframes for the dots animation */
        @keyframes dots {

            0%,
            100% {
                content: '';
            }

            25% {
                content: '.';
            }

            50% {
                content: '..';
            }

            75% {
                content: '...';
            }
        }
    </style>

    <!-- MAIN Project CSS file -->
    <link rel="stylesheet" href="/static/assets/css/main.css">

    <link rel="stylesheet" href="/static/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />

     
    <style>
        .myname {
            border-radius: 30px;
            box-shadow: inset;
            border-width: 4px;


        }

        .text-container {

            border: 1px solid #ccc;

            word-wrap: break-word;
            /* Force text to wrap */
            white-space: normal;
            /* Ensure normal wrapping */
            overflow-wrap: break-word;
            /* Ensure long words break */
        }
    </style>

</head>

<body data-theme="light" class="font-nunito">

    <div id="wrapper" class="theme-cyan">

        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="/static/icons/fav.png" width="48" height="48" alt="VoidPanel">
                </div>
                <p>Please wait...</p>
            </div>
        </div>



        {% include 'navbar.html' %}

        <!-- main left menu -->
        {% include 'left.html' %}
        <!-- rightbar icon div -->
        {% include 'right.html' %}


        <!-- mani page content body part -->

        <div id="main-content">

            <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h2>CSF Firewall</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i></a>
                                </li>
                                <li class="breadcrumb-item">Dashboard</li>
                                <li class="breadcrumb-item active">FTP Server</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="">
                            
                            <div class="tab-content">

                             

                                    <form  id="adddbform" method="post" action="">{% csrf_token %}
                                        
                                        
                                            <div class="col-lg-12 col-md-12">
                                                <div style="margin-left: 20px;" class="p-2 m-2">
                                                    <form method="post" id="copyForm" action="">{% csrf_token %}
                        
                      
                        {% if ftp.status %}
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" checked onchange="install(event);" >
                                                            <label class="form-check-label" for="flexSwitchCheckDefault"> FTP Enabled</label>
                                                          </div>
                                                      
                                               {% else %}
                                               <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" onchange="install(event);">
                                                <label class="form-check-label" for="flexSwitchCheckDefault"> FTP Disabled</label>
                                              </div>

                                               {%  endif %}
                                                
                                                 
                         

                                                            <p id="pro" style="display: none;" class="processing">Processing<span
                                                                    class="dots"></span>
                                                            </p>
                                          
                        
                        
                        
                        
                                                </div>
                                                
                                            </div>
                                


                                    </form>

                                </div>

                                
                                   
                            </div>
                        </div>
                    </div>


                 
                
            </div>







        </div>

















    </div>

    </div>


   

    <script>
         async function install(event) {
                // Prevent the default action (e.g., form submission)
                if (event) {
                    event.preventDefault();
                }
                
                document.getElementById('pro').style.display='block';
                const form = document.getElementById('adddbform');
                const formData = new FormData(form);



                try {
                    // Fetch request to submit form data
                    const response = await fetch('/ftp/', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value  // CSRF token for Django
                        }
                    });

                    // Parse the JSON response
                    const result = await response.json();


                    // Handle response
                    if (response.ok && result.status === 'success') {
                        document.getElementById('pro').style.display='none';
                 
                        window.location.reload();
                        
                    } else {
                        document.getElementById('pro').style.display='none';
       
                        window.location.reload();

                       
                    }
                } catch (error) {
                    document.getElementById('pro').style.display='none';
     
                    window.location.reload();

                  
                }
            }


         
    </script>






    <!-- Javascript -->
    <script src="/static/assets/bundles/libscripts.bundle.js"></script>
    <script src="/static/assets/bundles/vendorscripts.bundle.js"></script>

    <!-- page vendor js file -->
    <script src="/static/assets/vendor/toastr/toastr.js"></script>
    <script src="/static/assets/bundles/c3.bundle.js"></script>


    <script src="/static/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="/static/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->


    <!-- page js file -->
    <script src="/static/assets/bundles/mainscripts.bundle.js"></script>
    <script src="/static/assets/bundles/chartjs.js"></script>
    <script src="/static/assets/index2.js"></script>


</body>

</html>