<!doctype html>
<html lang="en">

<head>
    <title>:: VoidPanel :: DashBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VoidPanel Dashboard ">
    <meta name="author" content="Voidpanel, design by: Voidpanel.com">
    <link rel="icon" href="/static/icons/fav.png" type="image/x-icon">

    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/charts-c3/plugin.css" />

    <!-- MAIN Project CSS file -->
    <link rel="stylesheet" href="/static/assets/css/main.css">

    <link rel="stylesheet" href="/static/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
</head>

<body onload="updateServerLoad()" data-theme="light" class="font-nunito">

    <div id="wrapper" class="theme-cyan">

        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="/static/icons/fav.png" width="48" height="48" alt="VoidPanel">
                </div>
                <p>Please wait...</p>
            </div>
        </div>



        {% include 'navbar.html' %}

        <!-- main left menu -->
        {% include 'left.html' %}
        <!-- rightbar icon div -->
        {% include 'right.html' %}


        <!-- mani page content body part -->

        <div id="main-content">

            <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h2>Dashboard</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i></a>
                                </li>
                                <li class="breadcrumb-item">Dashboard</li>
                                
                            </ul>
                        </div>

                        
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/listusers/">
                                    <div class="card">
                                    <div class="body">
                                        <div class="currency_state d-flex">
                                            <div><img src="/static/icons/shortlist.png" width="40"></div>
                                            <div class="ml-3">
                                                <div class="name">List </div>
                                                <h5 class="mb-0">Users</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/adduser/">
                                <div class="card">
                                    <div class="body">
                                        <div class="currency_state d-flex">
                                            <div><img src="/static/icons/add-user.png" width="40">
                                            </div>
                                            <div class="ml-3">
                                                <div class="name">Add</div>
                                                <h5 class="mb-0">User</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>


                        </div>

                        <div class="row clearfix">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/listdns/">
                                <div class="card">
                                    <div class="body">
                                        <div class="currency_state d-flex">
                                            <div><img src="/static/icons/dns.png" width="40"></div>
                                            <div class="ml-3">
                                                <div class="name">DNS</div>
                                                <h5 class="mb-0">Management</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/terminal/">
                                    <div class="card">
                                        <div class="body">
                                            <div class="currency_state d-flex">
                                                <div><img src="/static/icons/terminal.png" width="40">
                                                </div>
                                                <div class="ml-3">
                                                    <div class="name">Terminal</div>
                                                    <h5 class="mb-0">Command</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                        </div>


                        <div class="row clearfix">
                            <a href="/cpbruteforce/">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                
                                <div class="card">
                                    <div class="body">
                                        <div class="currency_state d-flex">
                                            <div><img src="/static/icons/shield.png" width="40"></div>
                                            <div class="ml-3">
                                                <div class="name">CSF</div>
                                                <h5 class="mb-0">Firewall</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/addwebsite/" target="_blank"><div class="card">
                                    <div class="body">
                                        <div class="currency_state d-flex">
                                            <div><img src="/static/icons/w.svg" width="40">
                                            </div>
                                            <div class="ml-3">
                                                <div class="name">Add </div>
                                                <h5 class="mb-0">Website</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>


                        </div>



                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="">

                            <div class="body d-flex justify-content-start align-items-center p-1">
                                <div class="mr-2">
                                    <div style="display:inline;"><canvas width="10" height="10"
                                            style="width: 6px; height: 6px;"></canvas><input id="cpu-load" type="text"
                                            class="knob" value="9" data-width="90" data-height="90" data-thickness="0.1"
                                            data-fgcolor="#59c4bc" readonly="readonly"
                                            style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: auto; border: 0px; background: none; font-style: normal; font-variant-caps: normal; font-weight: bold; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; font-size-adjust: none; font-kerning: auto; font-variant-alternates: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-position: normal; font-variant-emoji: normal; font-feature-settings: normal; font-optical-sizing: auto; font-variation-settings: normal; text-align: center; color: rgb(89, 196, 188); padding: 0px; appearance: none; margin-right: -69px;">
                                    </div>
                                </div>
                                <div class="ml-2">
                                    <h6>Server Load</h6>

                                    <p class="mb-0">Average <span id="cpu" class="font-12 text-muted"><i
                                                class="fa fa-level-up"></i> 23%</span></p>
                                </div>
                            </div>
                            <div class="body d-flex justify-content-start align-items-center p-2">
                                <div class="mr-2">
                                    <div style="display:inline;"><canvas width="10" height="10"
                                            style="width: 6px; height: 6px;"></canvas><input id="disk-load" type="text"
                                            class="knob" value="65" data-width="90" data-height="90"
                                            data-thickness="0.1" data-fgcolor="#59c4bc" readonly="readonly"
                                            style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: auto; border: 0px; background: none; font-style: normal; font-variant-caps: normal; font-weight: bold; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; font-size-adjust: none; font-kerning: auto; font-variant-alternates: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-position: normal; font-variant-emoji: normal; font-feature-settings: normal; font-optical-sizing: auto; font-variation-settings: normal; text-align: center; color: rgb(151, 210, 57); padding: 0px; appearance: none; margin-right: -69px;">
                                    </div>
                                </div>
                                <div class="ml-2">
                                    <h6>Disk Usage</h6>
                                    <p class="mb-0">Average <span id="disk" class="font-12 text-muted"><i
                                                class="fa fa-level-up"></i> 23%</span></p>
                                </div>
                            </div>
                            <div class="body d-flex justify-content-start align-items-center p-1">
                                <div class="mr-2">
                                    <div style="display:inline;"><canvas width="10" height="10"
                                            style="width: 6px; height: 6px;"></canvas><input id="memory-load"
                                            type="text" class="knob" value="65" data-width="90" data-height="90"
                                            data-thickness="0.1" data-fgcolor="#59c4bc" readonly="readonly"
                                            style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: auto; border: 0px; background: none; font-style: normal; font-variant-caps: normal; font-weight: bold; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; font-size-adjust: none; font-kerning: auto; font-variant-alternates: normal; font-variant-ligatures: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-position: normal; font-variant-emoji: normal; font-feature-settings: normal; font-optical-sizing: auto; font-variation-settings: normal; text-align: center; color: rgb(255, 0, 0); padding: 0px; appearance: none; margin-right: -69px;">
                                    </div>
                                </div>
                                <div class="ml-2">
                                    <h6>Ram Usage</h6>

                                    <p class="mb-0">Average <span id="ram" class="font-12 text-muted"><i
                                                class="fa fa-level-up"></i> 23%</span></p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12">

                        <div class="row clearfix">
                            <div onclick="restartservice()" class="card">
                                <div class="body">
                                    <div class="currency_state d-flex">
                                        <div><img src="/static/icons/power.png" width="40">
                                        </div>
                                        <div class="ml-3">
                                            <div class="name">Refresh</div>
                                            <h5 class="mb-0">Services</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="card">


                                <div onclick="restart()" class="body">
                                    <div class="currency_state d-flex">
                                        <div><img src="/static/icons/refresh.png" width="40">
                                        </div>
                                        <div class="ml-3">
                                            <div class="name">Restart</div>
                                            <h5 class="mb-0">Server</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row clearfix">
                            <div onclick="shutdown()" class="card">
                                <div class="body">
                                    <div class="currency_state d-flex">
                                        <div><img src="/static/icons/shutdown.png" width="40">
                                        </div>
                                        <div class="ml-3">
                                            <div class="name">Shutdown</div>
                                            <h5 class="mb-0">Server</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>



                </div>

                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                            <div class="card">
                                <div class="header p-3">
                                    <h2>Last Notifactions</h2>
                                </div>
                                <div class="body p-2">
                                    <ul class="right_chat list-unstyled li_animation_delay" style="margin: 0%; padding: 0%; height: 250px; overflow-y: scroll;">
                                    {% for i in message %}
                                        <li class="online">
                                            <a href="javascript:void(0);">
                                                <div class="media">
                                                    <img class="media-object "
                                                        src="https://voidpanel.com/{{i.photo}}" alt="">
                                                    <div class="media-body">
                                                        <span class="name">Update<small class="float-right">{{i.date|slice:":10"}}</small></span>
                                                        <span class="message">
                                                            {{i.text}}</span>
                                                        <span class="badge badge-outline status"></span>
                                                    </div>
                                                </div>
                                            </a>
                                           
                                        </li>
                                        {% endfor %}
                                       <a target="_blank" href="https://voidpanel.com/notifications"> <small class="float-right">View all</small></a>
                                   
                                        
                                       
                                     

                                       





                                    </ul>
                                </div>


                            </div>


                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/hostname/">
                                <div class="card">
                                    <div class="body">
                                        <div class="currency_state d-flex">
                                            <div><img src="/static/icons/settings.png" width="40"></div>
                                            <div class="ml-3">
                                                <div class="name">Hostname </div>
                                                <h5 class="mb-0">Setup</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/phpsetting/">
                                <div  class="card">
                                    <div class="body">
                                        <div class="currency_state d-flex">
                                            <div><img src="/static/icons/php.png" width="40">
                                            </div>
                                            <div class="ml-3">
                                                <div class="name">PHP</div>
                                                <h5 class="mb-0">Versions</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>


                        </div>
                        <div class="row clearfix">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/runsslall/">
                                <div class="card">
                                    <div class="body">
                                        <div class="currency_state d-flex">
                                            <div><img src="/static/icons/changepanel.png" width="40"></div>
                                            <div class="ml-3">
                                                <div class="name">Auto</div>
                                                <h5 class="mb-0">SSL</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/allemailwizard/">
                                <div class="card">
                                    <div class="body">
                                        <div class="currency_state d-flex">
                                            <div><img src="/static/icons/roundcube.svg" width="40">
                                            </div>
                                            <div class="ml-3">
                                                <div class="name">Email</div>
                                                <h5 class="mb-0">Wizard</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>


                        </div>

                        <div class="row clearfix">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/serverstatus/">
                                <div class="card">
                                    <div class="body">
                                        <div class="currency_state d-flex">
                                            <div><img src="/static/icons/analysis.png" width="40"></div>
                                            <div class="ml-3">
                                                <div class="name">Server </div>
                                                <h5 class="mb-0">Status</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/filemanager/" target="_blank"><div class="card">
                                    <div class="body">
                                        <div class="currency_state d-flex">
                                            <div><img src="/static/icons/file.png" width="40">
                                            </div>
                                            <div class="ml-3">
                                                <div class="name">File</div>
                                                <h5 class="mb-0">Manager</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>


                        </div>


                    </div>
                </div>


            </div>
        </div>

        <div class="modal animated fadeIn show" id="shutdown" style="display: none; margin-top: 300px;">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="title" id="defaultModalLabel">Shutdown Server</h6>
                    </div>
    
                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12">
                            <div id="statusemail" style="text-align: center;" class="row clearfix">
                                <p>Are You Sure you want to Shutdown Server</p>
    
    
                            </div>
                        </div>
                        <div class="modal-footer">
                    <button onclick="rshutdown(event);" class="btn btn-danger">Confirm Shutdown</button>
                            </a>
                            <button id="addemailbtn" onclick="closeshutdown();" class="btn btn-success">Close</button>
    
                        </div>
                        <div class="modal animated fadeIn show" id="pro2" style="display: none; margin-top: 300px;">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p class="processing">Processing<span class="dots"></span></p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
    
    
                    </div>
    
                </div>
            </div>
        </div>

       
        <div class="modal animated fadeIn show" id="restartservice" style="display: none; margin-top: 300px;">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="title" id="defaultModalLabel">Restart Services</h6>
                    </div>
    
                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12">
                            <div id="statusemail" style="text-align: center;" class="row clearfix">
                                <p>Are You Sure you want to Restart Services</p>
    
    
                            </div>
                        </div>
                        <div class="modal-footer">
                         <button  onclick="rservice(event);" class="btn btn-danger">Confirm </button>
                         
                            <button id="addemailbtn" onclick="closerestartservice();" class="btn btn-success">Close</button>
                            
    
                        </div>
    
                        <div class="modal animated fadeIn show" id="pro1" style="display: none; margin-top: 300px;">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p class="processing">Processing<span class="dots"></span></p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                </div>
            </div>
            </div>


        <div class="modal animated fadeIn show" id="restart" style="display: none; margin-top: 300px;">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="title" id="defaultModalLabel">Restart Server</h6>
                    </div>
    
                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12">
                            <div id="statusemail" style="text-align: center;" class="row clearfix">
                                <p>Are You Sure you want to Restart Server</p>
    
    
                            </div>
                        </div>
                        <div class="modal-footer">
          <button onclick="rrestart(event);" class="btn btn-danger">Confirm Restart</button>
                            </a>
                            <button id="addemailbtn" onclick="closerestart();" class="btn btn-success">Close</button>
    
                        </div>
                        <div class="modal animated fadeIn show" id="pro3" style="display: none; margin-top: 300px;">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p class="processing">Processing<span class="dots"></span></p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
    
    
                    </div>
    
                </div>
            </div>
        </div>
        <script>

async function rrestart(event) {
                event.preventDefault();  // Prevent the default form submission behavior

                // Get the form data
                document.getElementById('pro3').style.display='block';
         

                
                    // Make the fetch request to change the password
                    const response = await fetch('/restart/');
                    document.getElementById('pro3').style.display='none';
                
                    document.getElementById('restart').style.display='none';
                    // Handle the server response
                   
                
            }

async function rservice(event) {
                event.preventDefault();  // Prevent the default form submission behavior

                // Get the form data
                document.getElementById('pro1').style.display='block';
         

                
                    // Make the fetch request to change the password
                    const response = await fetch('/restartservice/');
                    document.getElementById('pro1').style.display='none';
                
                    document.getElementById('restartservice').style.display='none';
                    // Handle the server response
                   
                
            }

            async function rshutdown(event) {
                event.preventDefault();  // Prevent the default form submission behavior

                // Get the form data
                document.getElementById('pro2').style.display='block';
         

                
                    // Make the fetch request to change the password
                    const response = await fetch('/shutdown/');
                    document.getElementById('pro2').style.display='none';
                
                    document.getElementById('shutdown').style.display='none';
                    // Handle the server response
                   
                
            }

            function shutdown(){
                document.getElementById('shutdown').style.display='block';
            }

            function closeshutdown(){
                document.getElementById('shutdown').style.display='none';
            }


            function restart(){
                document.getElementById('restart').style.display='block';
            }

            function closerestart(){
                document.getElementById('restart').style.display='none';
            }

            function restartservice(){
                document.getElementById('restartservice').style.display='block';
            }

            function closerestartservice(){
                document.getElementById('restartservice').style.display='none';
            }
        </script>


        <!-- Modal for add user -->


        <!--  -->

        {% if show %}
        <style>
            body {
                font-family: Arial, sans-serif;
            }

            .popup {
                display: none;
                /* Initially hidden */
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;

            }


            #popup.hidden {
                opacity: 0;
                visibility: hidden;
            }

            .popup-content {

                color: white;


                padding: 20px;
                border-radius: 5px;
                width: 400px;
                text-align: center;
                justify-content: center;

            }


            /* Style for the spinner */
            .input-container {
                position: relative;
                /* display: inline-block; */
            }

            /* Style for the input field */
            .form-control {
                padding-right: 50px;
                /* Space for the spinner */
            }

            /* Style for the spinner */
            .spinner {
                border: 4px solid rgba(0, 0, 0, 0.1);
                /* Light border */
                border-left: 4px solid #3498db;
                /* Blue color for the spinning part */
                border-radius: 50%;
                /* Make it a circle */
                width: 20px;
                height: 20px;
                position: absolute;
                right: 7px;
                top: 35%;
                transform: translateY(-50%);
                animation: spin 1s linear infinite;
                /* Animation for spinning effect */
                display: none;
                /* Hidden by default */
            }


            /* Animation for spinning */
            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        </style>

        <script>
            window.onload = function () {
                // Display the popup automatically when the page loads
                document.getElementById('popup').style.display = 'flex';
            };

            



        </script>
        

        <div id="popup" class="popup">

            <div class="body popup-content ">

                <div class=" card modal-sm" style="border-radius: 20px; border: solid rgb(89, 196, 188) ;">

            
                    <div class=" header">
                        <h2>Quick Setup</h2>
                    </div>

                    <form id="myForm" method="post" action="">
                        <div class="body">

                            <div class="form-group">
                                <input type="text" value="skip" hidden>
                                <label for="phone" style="display: block;" class="control-label">Hostname</label>

                                <div class="input-container">
                                    <input type="text" id="hostname" name="hostname" class="form-control"
                                        placeholder="Hostname">
                                    <div id="spinner" class="spinner"></div>
                                    <div id="status" class="status-icon"></div>
                                </div>

                                <span class="help-block">server.domain.com</span>

                            </div>
                            <div class="form-group">
                                <label for="phone" class="control-label">Nameserver1</label>
                                <input type="text" id="phone" placeholder="Nameserver" name="ns1" class="form-control">
                                <span class="help-block">ns1.domain.com</span>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="control-label">Nameserver2</label>
                                <input type="text" id="phone" placeholder="Nameserver" name="ns2" class="form-control">
                                <span class="help-block">ns2.domain.com</span>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="control-label">Email</label>
                                <input type="email" placeholder="Email" name="email" id="phone" class="form-control">
                                <span class="help-block">email@domain.com</span>

                            </div>








                            <div class="form-group" style="display: flex; justify-content:space-around;"
                                class="row clearfix">
                                <button type="button" onclick="submitForm()" id="skipform"
                                    class="btn btn-primary">Skip</button>
                                <button type="button" disabled id="updateform" class="btn btn-secondary">Update</button>
                            </div>
                            <div id="pbar" style="display: none;">
                                <div id="progress" class="form-group progress">
                                    <div id="p-bar"
                                        class="progress-bar progress-bar-success progress-bar-striped active"
                                        role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 0%">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>

                    
                </div>
                
            </div>
            

        </div>
        
    </div>

    

    </div>

    



    </div>

   




    <script>
        function submitForm() {
            const formData = new FormData(document.getElementById('myForm'));

            fetch('/quicksetup/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken') // Include CSRF token
                }
            })
                .then(response => response.json())
                .then(data => {
                    const div = document.getElementById('popup');
                    div.classList.add('hidden');

                })
                .catch(error => {
                    document.getElementById('response').textContent = 'Error: ' + error.message;
                });
        }

        // Function to get the CSRF token from the cookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        function updateForm() {
            const loadingBar = document.getElementById('pbar');
            loadingBar.style.display = 'block';
            let width = 0;
            const progressBar = document.getElementById('p-bar');
            const updateWidth = () => {
                if (width >= 100) {
                    clearInterval(interval); // Stop the interval when reaching 100%
                } else {
                    width++;
                    progressBar.style.width = width + '%';
                    progressBar.setAttribute('aria-valuenow', width);
                    // Optional: Display percentage inside the bar
                }
            };
            const formData = new FormData(document.getElementById('myForm'));
            setInterval(updateWidth, 100);

            fetch('/updatesetup/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': GetCookie('csrftoken') // Include CSRF token
                }
            })
                .then(response => response.json())
                .then(data => {
                    loadingBar.style.display = 'none';
                    const div = document.getElementById('popup');
                    div.classList.add('hidden');
                    window.location.href = "/";

                })
                .catch(error => {
                    loadingBar.style.display = 'none';
                    document.getElementById('response').textContent = 'Error: ' + error.message;
                    window.location.href = "/";
                });
        }

        // Function to get the CSRF token from the cookies
        function GetCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    <script>

        async function getPublicIP() {
            try {
                const response = await fetch('https://api.ipify.org?format=json');
                const data = await response.json();
                return data.ip;
            } catch (error) {
                console.error('Error fetching IP address:', error);
                return '400'; // Return error code for demonstration
            }
        }
        async function resolveHostname(hostname) {
            try {
      
                var urlf="https://dns.google/resolve?name="+hostname+"&type=A";
            
            const response = await fetch(urlf);
            const data = await response.json();
                if (data.Answer) {
                    return data.Answer[0].data; // Return the first IP address from the response
                } else {

                    return null;
                }
            } catch (error) {

                return null;
            }
        }
        // Async function to handle input changes
        async function handleInputChange() {
            const spinner = document.getElementById('spinner');
            const statusIcon = document.getElementById('status');
            const expectedIP = await resolveHostname(document.getElementById('hostname').value);
            spinner.style.display = 'block'; // Show the spinner
            statusIcon.style.display = 'none'; // Hide the status icon initially

            const ip = await getPublicIP(); // Await the IP fetch


            if ("{{serverip}} "== expectedIP) {
                statusIcon.textContent = '✔'; // Set checkmark if IP matches
                statusIcon.style.color = 'green'; // Optional: change color for checkmark
                var xc = document.getElementById('updateform');
                xc.onclick = updateForm;
                xc.disabled = false;

            } else {
                statusIcon.textContent = '✖'; // Set cross if IP does not match
                statusIcon.style.color = 'red'; // Optional: change color for cross

            }

            spinner.style.display = 'none'; // Hide the spinner
            statusIcon.style.display = 'block'; // Show the status icon
        }

        // Add event listener to the input field
        document.getElementById('hostname').addEventListener('input', handleInputChange);
    </script>
    {% endif %}
    <!-- Javascript -->
    <script src="/static/assets/bundles/libscripts.bundle.js"></script>
    <script src="/static/assets/bundles/vendorscripts.bundle.js"></script>

    <!-- page vendor js file -->
    <script src="/static/assets/vendor/toastr/toastr.js"></script>
    <script src="/static/assets/bundles/c3.bundle.js"></script>


    <script src="/static/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="/static/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->


    <!-- page js file -->
    <script src="/static/assets/bundles/mainscripts.bundle.js"></script>
    <script src="/static/assets/bundles/chartjs.js"></script>
    <script src="/static/assets/index2.js"></script>
    <script>
        function updateServerLoad() {
            fetch('/server-load/')
                .then(response => response.json())
                .then(data => {

                    document.getElementById('cpu-load').value = data.cpu + "%";
                    document.getElementById('memory-load').value = data.memory + "%";
                    document.getElementById('disk-load').value = data.disk + "%";
                    document.getElementById('cpu').innerHTML = data.cpu + "%";
                    document.getElementById('ram').innerHTML = data.memory + "%";
                    document.getElementById('disk').innerHTML = data.disk + "%";
                })
                .catch(error => console.error('Error:', error));
        }

        // Update server load every 5 seconds
        setInterval(updateServerLoad, 2000);
    </script>

</body>

</html>