<!doctype html>
<html lang="en">

<head>
    <title>:: VoidPanel :: PHPINI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VoidPanel PHP INI ">
    <meta name="author" content="Voidpanel, design by: Voidpanel.com">
    <link rel="icon" href="/static/icons/fav.png" type="image/x-icon">

    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/charts-c3/plugin.css" />

    <!-- MAIN Project CSS file -->
    <link rel="stylesheet" href="/static/assets/css/main.css">

    <link rel="stylesheet" href="/static/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <style>
        .myname {
            border-radius: 30px;
            box-shadow: inset;
            border-width: 4px;


        }

        .text-container {

            border: 1px solid #ccc;

            word-wrap: break-word;
            /* Force text to wrap */
            white-space: normal;
            /* Ensure normal wrapping */
            overflow-wrap: break-word;
            /* Ensure long words break */
        }
    </style>

</head>

<body data-theme="light" class="font-nunito">

    <div id="wrapper" class="theme-cyan">

        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="/static/icons/fav.png" width="48" height="48" alt="VoidPanel">
                </div>
                <p>Please wait...</p>
            </div>
        </div>



        {% include 'navbar.html' %}

        <!-- main left menu -->
        {% include 'left.html' %}
        <!-- rightbar icon div -->
        {% include 'right.html' %}


        <!-- mani page content body part -->

        <div id="main-content">

            <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-10 col-md-6 col-sm-12">
                            <h2>Edit/Add Websites</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i></a>
                                </li>
                                <li class="breadcrumb-item">Dashboard</li>
                                <li class="breadcrumb-item">Edit/Add Websites</li>

                            </ul>
                        </div>

                      


                    </div>
                </div>
                <form method="post" action="">{% csrf_token %}


                <div class="row clearfix">
                    <div class="col-lg-12">

                        <div class="">
                            <div class="header">
                                <h2>Edit/View INI </h2>

                               
                            </div>
                           
                            <div class="body p-2">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0 c_list p-2">
                                        <thead>
                                            <tr>

                                                <th>Name</th>
                                  
                                                <th>View/Edit INI </th>
                                       
                                            </tr>
                                        </thead>
                                        <tbody id="domainTableBody">
                                            {% for i , j in new.items %}
                                            <tr>

                                                <td>

                                                    <p class="c_name">{{i}}</p>
                                                </td>
                                                <td>
                                               <input type="text" name="{{i}}" class="form-control" value="{{j}}" placeholder="{{j}}" required>
                                                </td>
                                           
                                         
                                            </tr>
                                            {% endfor %}
                                           


                                        </tbody>
                                    </table>
                                   
                                </div>
                                
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <button type="submit" class="btn btn-primary">Submit/Save</button>
                        </div>
                        
                    </div>



                </div>
            </form>










            </div>

        </div>

      


       



        

        <script>
            function searchTable() {
                // Get the search query
                const searchQuery = document.getElementById('searchInput').value.toLowerCase();
                
                // Get all the rows in the table body
                const rows = document.querySelectorAll('#domainTableBody tr');
        
                // Loop through the rows
                rows.forEach(row => {
                    // Get the domain name from the first column (assuming domain is in the first <td>)
                    const domainName = row.querySelector('.c_name').textContent.toLowerCase();
        
                    // Check if the domain name includes the search query
                    if (domainName.includes(searchQuery)) {
                        row.style.display = ''; // Show the row
                    } else {
                        row.style.display = 'none'; // Hide the row
                    }
                });
            }
        </script>


        <!-- Javascript -->
        <script src="/static/assets/bundles/libscripts.bundle.js"></script>
        <script src="/static/assets/bundles/vendorscripts.bundle.js"></script>

        <!-- page vendor js file -->
        <script src="/static/assets/vendor/toastr/toastr.js"></script>
        <script src="/static/assets/bundles/c3.bundle.js"></script>


        <script src="/static/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
        <script src="/static/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->


        <!-- page js file -->
        <script src="/static/assets/bundles/mainscripts.bundle.js"></script>
        <script src="/static/assets/bundles/chartjs.js"></script>
        <script src="/static/assets/index2.js"></script>


</body>

</html>