<!doctype html>
<html lang="en">

<head>
    <title>:: VoidPanel :: Terminal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VoidPanel Terminal ">
    <meta name="author" content="Voidpanel, design by: Voidpanel.com">
    <link rel="icon" href="/static/icons/fav.png" type="image/x-icon">

    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/charts-c3/plugin.css" />

    <!-- MAIN Project CSS file -->
    <link rel="stylesheet" href="/static/assets/css/main.css">

    <link rel="stylesheet" href="/static/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
</head>

<body  data-theme="light" class="font-nunito">

    <div id="wrapper" class="theme-cyan">

        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="/static/icons/fav.png" width="48" height="48" alt="VoidPanel">

                </div>
                <p>Please wait...</p>
            </div>
        </div>



        {% include 'navbar.html' %}

        <!-- main left menu -->
        {% include 'left.html' %}
        <!-- rightbar icon div -->
        {% include 'right.html' %}


        <!-- mani page content body part -->

        <div id="main-content">

            <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h2>Terminal</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i></a></li>                            
                                <li class="breadcrumb-item">Dashboard</li>
                                <li class="breadcrumb-item active">Terminal</li>
                            </ul>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div  id="if" style="margin-top: 5%; display: block;" class="col-lg-8 col-md-12 col-sm-12">
                            {% if securehai %}
                            <div  class="card" type="button" style="height: 620; width: 100%;">
                                <div class="body" >
                                    <a target="_blank"   href="http://{{ip}}:{{port}}">
                                    <div class="currency_state d-flex" style="align-items: center; justify-content: center; margin: 193px;">
                                        <div><img src="/static/assets/images/coin/stellar.svg" width="80"></div>
                                        <div class="ml-3">
                                            <div class="name">Teminal</div>
                                            <h5 class="mb-0">Open</h5>
                                        </div>
                                    </div>
                                </a>
                                </div>
                            </div>  
                            

                        {% else %}
<iframe id="iframe" style="margin: 0; padding: 0; border-radius: 2%; width: 100%; height: 510px;"   src="http://{{ip}}:{{port}}" height="640" ></iframe>
{% endif %}

<div id="noframe" class="card" type="button" style="height: 620; width: 100%; display: none;">
    <div class="body" >
        <a href="/terminal/">
        <div class="currency_state d-flex" style="align-items: center; justify-content: center; margin: 193px;">
            <div><img src="/static/assets/images/coin/stellar.svg" width="80"></div>
            <div class="ml-3">
                <div class="name">Teminal</div>
                <h5 class="mb-0">Connect/Reconnect</h5>
            </div>
        </div>
    </a>
    </div>
</div>                 
</div>
<div class="col-lg-4" style="margin-top: 5%;">
    <div class="card profile-header">
        <div class="body">
            <div class="text-center">
               
                <div>
                    <h4 class="mb-0"><strong>Server</strong> Informaton</h4>
                    
                
                </div>
               
                
            </div>
         
            <ul class="pricing body">
           
                <li>Hostname : <strong>{{hostname}}</strong></li>
                <li>Server IP: <strong>{{ip}}</strong> </li>
                <li>Operating System: <strong>{{os}}</strong></li>
                <li>Panel Name :<strong> Void Panel </strong></li>
                <li>Ram :<strong>{{ram}}</strong> </li>
                <li>Disk Storage:<strong>{{storage}}</strong></li>
                <li>Processor : <strong>{{cpu}}</strong></li>
             
                
            </ul>
            
            
            
        </div>
    </div>
</div>
                       

                    </div>
                </div>












            </div>
        </div>

        <!-- Javascript -->
        <script src="/static/assets/bundles/libscripts.bundle.js"></script>
        <script src="/static/assets/bundles/vendorscripts.bundle.js"></script>

        <!-- page vendor js file -->
        <script src="/static/assets/vendor/toastr/toastr.js"></script>
        <script src="/static/assets/bundles/c3.bundle.js"></script>


        <script src="/static/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
        <script src="/static/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->


        <!-- page js file -->
        <script src="/static/assets/bundles/mainscripts.bundle.js"></script>
        <script src="/static/assets/bundles/chartjs.js"></script>
        <script src="/static/assets/index2.js"></script>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function refreshIframe() {
    var iframe = document.getElementById('iframe');
    iframe.src = iframe.src;
}
    function active(){
        location.reload(true);
    }
     
    document.addEventListener("DOMContentLoaded", function () {
    var iframe = document.getElementById("iframe");
    var noiframe = document.getElementById("noframe");

    function checkStatus() {
        var url = iframe.src;

        $.ajax({
            url: '/checkstatus/?url=' + url,  // URL for your Django view
            method: 'GET',
            success: function(response) {
                iframe.style.display = "block";
                noiframe.style.display = "none";
            },
            error: function(xhr, status, error) {
                iframe.style.display = "none";
                noiframe.style.display = "block";
            }
        });
    }

    // Call the function once when the page loads
    checkStatus();

    // Reload the function every 5 seconds
    setInterval(checkStatus, 10000);
});
</script>
<script>
    

let inactivityTime = function () {
    let time;
    window.onload = resetTimer;
    document.onmousemove = resetTimer;
    document.onkeypress = resetTimer;
    document.ontouchstart = resetTimer; // For mobile devices

    function logout() {
        // Make an AJAX request to Django when user is inactive
     
        $.ajax({
                    url: '/webshell/?action=user_inactive&port={{port}}',  // URL for your Django view
                    method: 'GET',
                    success: function(response) {
                        $('#response').text(response.message);
                    },
                    error: function(xhr, status, error) {
                        $('#response').text('An error occurred.');
                    }
                });
    }

    function resetTimer() {
        clearTimeout(time);
        time = setTimeout(logout, 1000000);  // Set inactivity time to 1 minute (60000 ms)
    }
};

inactivityTime();  // Initialize the inactivity timer

window.addEventListener('beforeunload', function (event) {

      
    $.ajax({
                    url: '/webshell/?action=tab_close&port={{port}}',  // URL for your Django view
                    method: 'GET',
                    success: function(response) {
                        $('#response').text(response.message);
                    },
                    error: function(xhr, status, error) {
                        $('#response').text('An error occurred.');
                    }
                });
    event.preventDefault();
    event.returnValue = '';
});



</script>

</html>