<!doctype html>
<html lang="en">

<head>
    <title>:: VoidPanel :: Updates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VoidPanel Updates ">
    <meta name="author" content="Voidpanel, design by: Voidpanel.com">
    <link rel="icon" href="/static/icons/fav.png" type="image/x-icon">

    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/charts-c3/plugin.css" />

    <!-- MAIN Project CSS file -->
    <link rel="stylesheet" href="/static/assets/css/main.css">

    <link rel="stylesheet" href="/static/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <style>
        /* Basic styling for the p tag */
        p.processing {
            font-size: 18px;
            font-weight: bold;
 
        }

        /* Animation for the dots */
        .dots::after {
            content: '';
            display: inline-block;
            width: 1em;
            text-align: left;
            animation: dots 1.5s steps(4, end) infinite;
        }

        /* Keyframes for the dots animation */
        @keyframes dots {

            0%,
            100% {
                content: '';
            }

            25% {
                content: '.';
            }

            50% {
                content: '..';
            }

            75% {
                content: '...';
            }
        }
    </style>
</head>

<body  data-theme="light" class="font-nunito">

    <div id="wrapper" class="theme-cyan">

        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="/static/icons/fav.png" width="48" height="48" alt="VoidPanel">
                </div>
                <p>Please wait...</p>
            </div>
        </div>



        {% include 'navbar.html' %}

        <!-- main left menu -->
        {% include 'left.html' %}
        <!-- rightbar icon div -->
        {% include 'right.html' %}


        <!-- mani page content body part -->

        <div id="main-content">

            <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h2>Check for updates</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i></a>
                                </li>
                                <li class="breadcrumb-item">Dashboard</li>
                                <li class="breadcrumb-item">updates</li>

                            </ul>
                        </div>


                    </div>
                </div>


                <div id="addpermission" style="display: block; margin-top: 190px;">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="title" id="defaultModalLabel">Current version({{version}})</h6>
                            </div>
           
                                <div class="modal-body">
                                    <div class="row clearfix">
                                        <div class="col-md-12 col-sm-12">
                                            <p id="pro" style="display: none;" class="processing">Processing<span
                                                class="dots"></span>
                                        </p>
                                            {% if show %}
                                            <h4>New Version Available </h4>
                                            <p>Latest Version ({{latestversion}})</p>
                                            <div style="margin-top: 20px; display: flex; justify-content: center;">
                                            <button onclick="update(event);"  type="submit" style="display: block;" class="btn btn-primary">Update Now</button>
                                        </div>
                                            {% else %}
                                         <h4>No Updates Available</h4>
                                         {% endif %}
                                        </div>
                                    </div>
                                </div>
                               
                              
                                
                                
                 
                            
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <!-- Modal for add user -->
        <script>
            async function update(event) {
                // Prevent the default action (e.g., form submission)
                if (event) {
                    event.preventDefault();
                }
                document.getElementById('pro').style.display = "block";
     
                try {
                    // Fetch request to submit form data
                    const response = await fetch('/updatepanel/', {
                        method: 'POST',

                    });
                    const result = await response.json();
                    // Handle response
                    if (response.ok && result.status === 'success') {
                        document.getElementById('pro').style.display = "none";
                        location.reload(true);
              

                    } else {

                        document.getElementById('pro').style.display = "none";
                        location.reload(true);
               

                    }
                } catch (error) {

                    document.getElementById('pro').style.display = "none";
                    location.reload(true);
                   

                }





            }
            </script>


      


        <!-- Javascript -->
        <script src="/static/assets/bundles/libscripts.bundle.js"></script>
        <script src="/static/assets/bundles/vendorscripts.bundle.js"></script>

        <!-- page vendor js file -->
        <script src="/static/assets/vendor/toastr/toastr.js"></script>
        <script src="/static/assets/bundles/c3.bundle.js"></script>


        <script src="/static/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
        <script src="/static/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->


        <!-- page js file -->
        <script src="/static/assets/bundles/mainscripts.bundle.js"></script>
        <script src="/static/assets/bundles/chartjs.js"></script>
        <script src="/static/assets/index2.js"></script>


</body>

</html>