<style>
    /* Basic styling for the p tag */
    p.processing {
        font-size: 18px;
        font-weight: bold;

    }

    /* Animation for the dots */
    .dots::after {
        content: '';
        display: inline-block;
        width: 1em;
        text-align: left;
        animation: dots 1.5s steps(4, end) infinite;
    }

    /* Keyframes for the dots animation */
    @keyframes dots {

        0%,
        100% {
            content: '';
        }

        25% {
            content: '.';
        }

        50% {
            content: '..';
        }

        75% {
            content: '...';
        }
    }
</style>
<div id="left-sidebar" class="sidebar">
    <button type="button" class="btn-toggle-offcanvas"><i class="fa fa-arrow-left"></i></button>
    <div class="sidebar-scroll">
        <div class="user-account">
            <img  src="/static/icons/fav.png" class="rounded-circle user-photo" style="border-radius: 20% !important;" alt="User Profile Picture">
            <div class="dropdown">
                <span>Welcome to,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>Void Panel</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account">
              
                    <li><a href="/logout"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>
            <hr>
            
        </div>
        <!-- Nav tabs -->
       
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu">{{main_dir|cut:'////'|cut:'///'|cut:'//'}}</a></li>
                          
        </ul>
        <!-- Tab panes -->
        <div class="tab-content padding-0">
            <div class="tab-pane active" id="menu">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu li_animation_delay">
                        <li class="active">
                            <span id="maindir" hidden>{{main_dir}}</span>
                            <a  href="#Dashboard" class="has-arrow"><i class="fa fa-minus-square"></i><span >{{main_dir|cut:'////'|cut:'///'|cut:'//'}}</span></a>
                            <ul>
                                {% for i in items %}

                                {% if i.name|length > 15 %}

                         
                                <a id="{{i.name}}" onclick='redir("{{i.name}}")' ><li class="active p-2"><img src="/static/icons/folder.svg" height="20px" width="20px" >{{ i.name|slice:":5" }}...</li></a>
                                {% else %}
                                <a id="{{i.name}}" onclick='redir("{{i.name}}")'><li class="active p-2"><img src="/static/icons/folder.svg" height="20px" width="20px" >{{i.name}}</li></a>
                                
                                {% endif %}
                                {% endfor %}
                             
                              
                                </ul>
                        </li>
                        
                        

                       
                        
                        
                    </ul>
                </nav>
            </div>
  

            
        </div>          
    </div>
</div>

<script>
    function redir(path){
        var main=document.getElementById('maindir');
       
        
        // http://127.0.0.1:8000/filemanager/?key=/usr
        window.location.href = "/filemanager/"+"?key="+main.innerHTML+'/'+path;
        // alert("/filemanager/"+"?key="+main.innerHTML+path);
    }
</script>