
    <!-- Top navbar div start -->
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-brand">
                <button type="button" class="btn-toggle-offcanvas"><i class="fa fa-bars"></i></button>
                <button type="button" class="btn-toggle-fullwidth"><i class="fa fa-bars"></i></button>
                <a href="/">VoidPanel</a>                
            </div>
            
            <div class="navbar-right">
         
                <form id="navbar-search" class="navbar-form search-form">
                    <input value="" class="form-control" id="searchdata" placeholder="Search here..." type="text" list="search-options">
                    
                    <datalist id="search-options">
                      <option value="List Users"></option>
                      <option value="Add Users"></option>
                      <option value="DNS management"></option>
                      <option value="Terminal"></option>
                      <option value="Firewall"></option>
                      <option value="Add Website"></option>
                      <option value="List Websites"></option>
                      <option value="Notifications"></option>
                      <option value="Hostname Setup"></option>
                      <option value="PHP Versions"></option>
                      <option value="Auto SSL"></option>
                      <option value="Email Wizard"></option>
                      <option value="FileManager"></option>
                      <option value="Server Status"></option>
                      <option value="Change Password"></option>
                      <option value="Cron Jobs"></option>
                      <option value="Updates"></option>
                      <option value="Convert Website Into User"></option>
                      <option value="Package Manager"></option>
                      <option value="DataBase Wizard"></option>
                      <option value="FTP Wizard"></option>
                      <option value="Dashboard"></option>
                      
                     
                    </datalist>
                  
                    <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
                  </form>
                  
                  <script>
                    document.getElementById('searchdata').addEventListener('input', function() {
                      const selectedValue = this.value;
                      
                      // Define redirection URLs for different values
                      const redirects = {
                        "List Users": "/listusers/",
                        "Add Users": "/adduser/",
                        "DNS management": "/listdns/",
               
                        "Firewall": "/cpbruteforce/",
                        "Terminal": "/terminal/",
                        "Add Website": "/addwebsite/",
                        "List Websites": "/listwebsite/",
                        "Notifications": "https://voidpanel.com/notifications/",
                        "Hostname Setup": "/hostname/",
                        "PHP Versions": "/phpsetting/",
                        "Auto SSL": "/runsslall/",
                        "Email Wizard": "/allemailwizard/",
                        "FileManager": "/filemanager/",
                        "Server Status": "/serverstatus/",
                        "Change Password": "/chpass/",
                        "Cron Jobs": "/maincron/",
                        "Updates": "/update/",
                        "Convert Website Into User": "/convertwebsite/",
                        "Package Manager": "/package/",
                        "DataBase Wizard": "/fulldbwizard/",
                        "FTP Wizard": "/ftpserver/",
                        "Dashboard": "/panel/",
                       
                      };
                  
                      // Check if the selected value has a corresponding URL
                      if (redirects[selectedValue]) {
                        window.location.href = redirects[selectedValue];  // Redirect to the URL
                      }
                    });
                  </script>
                  

                  
                               

              
            </div>
        </div>
    </nav>